<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">MDU E_Payment</a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="col-sm-12">
        <form method="post" action="/save" name="paymentForm">
            <div class="form-group row slideOutRight">
                <!--<label  class="col-sm-2 form-control-label">firstName</label>-->
                <div class="col-sm-10 slideOutRight">
                    <input type="hidden" class="form-control" name="firstName" value="" placeholder="firstName">
                </div>
            </div>
            <div class="form-group row slideOutRight">
                <!--<label  class="col-sm-2 form-control-label">email</label>-->
                <div class="col-sm-10">
                    <input type="hidden" class="form-control" name="email" value="" placeholder="email">
                </div>
            </div>
            <div class="form-group row slideOutRight">
                <label  class="col-sm-2 form-control-label">totalAmount</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="totalAmount" value="230.0" placeholder="totalAmount">
                </div>
            </div>
            <div class="form-group row slideOutRight">
                <label  class="col-sm-2 form-control-label">challan</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="challan" value="16A0000001" placeholder="challan">
                </div>
            </div>
            <div class="form-group row slideOutRight">
                <label  class="col-sm-2 form-control-label">studentId</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="studentId" value="1211071" placeholder="udf1">
                </div>
            </div>
            <div class="form-group row slideOutRight">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-secondary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--<html>-->

<!--<head>-->

<!--</head>-->

<!--<body>-->

<!--<form action='https://test.payu.in/_payment' method='post'>-->

    <!--<input type="text" name="firstname" value="Jaspreet Singh" />-->

    <!--<input type="text" name="lastname" value="" />-->

    <!--<input type="text" name="surl" value="http://localhost:3000/success/" />-->

    <!--<input type="text" name="phone" value="" />-->

    <!--<input type="text" name="key" value="gtKFFx" />-->

    <!--<input type="text" name="hash" value =-->

            <!--"8ce93b4776280dcc7a51004ee73aea79e1f803d0db2787444394e687455fbbcfbeedeaea588ce2645b22194e34acf5bd50faf79606138b9f19abdf0c874944dd" />-->

    <!--<input type="text" name="curl" value="http://www.google.com" />-->

    <!--<input type="text" name="furl" value="http://localhost:3000/failure/" />-->

    <!--<input type="text" name="txnid" value="16A0000001" />-->

    <!--<input type="text" name="productinfo" value="E_payment" />-->

    <!--<input type="text" name="amount" value="230" />-->

    <!--<input type="text" name="email" value="jaspreet.singh@mindfulsas.com" />-->

    <!--<input type="text" name="studentId" value="1211071" />-->

    <!--<input type= "submit" value="submit">-->


<!--</form>-->

<!--</body></html>-->
