<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>MDU Payment Gateway</title>

        <meta name="viewport" content="width=device-width" />
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="app.js"></script>
        <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"  media="all"/>
        <link href="../bower_components/animate.css/animate.css" rel="stylesheet"  media="all"/>
        <link href="../bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
        <script src="scripts/dashboardController.js"></script>
    </head>
    <body ng-app="app">
        <div ui-view>
        </div>
    </body>

</html>